@font-face {
  font-family: micro5;
  src: url(Assets/Fonts/Micro5-Regular.woff);
}

@font-face {
  font-family: JetBrains;
  src: url(Assets/Fonts/JetBrainsMono-Regular.woff);
}

:root {
  --text: rgb(221, 43, 141);
  --glow: rgb(211, 134, 82);
  --dark: rgb(7, 12, 59);
  --darker: rgb(3, 6, 29);
  --medium: rgb(45, 23, 87);
  --gameFontSize: 21px;
  --siteFontSize: 15px;
}

* {
  font-family: JetBrains;
  font-size: var(--siteFontSize);
}

a {
  color: var(--text);
}

a:hover {
  color: var(--dark);
  background-color: var(--text);
  border-radius: 2px;
}

a:active {
  color: var(--darker);
}

body {
  color: var(--text);
  background-color: var(--dark);
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--medium);
  padding-bottom: 1rem;
  width: 100%;
}

footer {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  background-color: var(--medium);
}

footer * {
  margin: 0px;
  padding: 0px;
}

header h1,
header p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: micro5;
  font-size: 48pt;
}

#play_zone {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: black;
  max-width: 100%;
}

#chat_zone {
  max-width: 100%;
  max-width: 378px; /* temporary hardcode */
}

#terminal {
  color: var(--text);
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  background-color: black;
  max-height: 80px;
  margin: 0px;
  /* to avoir scrollbar on IE, edge and firefox */
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  overflow-wrap: break-word;
}

/* to avoir scrollbar on chrome, safari and opera */
#terminal::-webkit-scrollbar {
  display: none;
}

#command_line_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: end;
  padding: 0px;
  margin: 0px;
  background-color: black;
}

#dollar_sign_term {
  padding: 0px;
  margin: 0px;
}

#command_line {
  color: var(--text);
  background-color: rgb(0, 0, 0);
  padding: 0px;
  border-style: none;
  outline: none;
  width: 100%;
}

#command_line::placeholder {
  color: var(--text);
  opacity: 0.3; /* Firefox */
}

#rendered_frame {
  max-width: 100%;
  font-family: monospace;
  white-space: pre;
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-size: clamp(1px, 5vw, var(--gameFontSize));
}

button {
  background-color: var(--medium);
  color: var(--text);
  border-style: none;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0px;
  border-radius: 2px;
}

button:hover {
  background-color: var(--darker);
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

#hidden_stuff {
  display: none;
}
